<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zhansheng.management_system.dao.TbFanfaultrepoMapper">


  <resultMap id="BaseResultMap" type="com.zhansheng.framework.domain.UserManager.Industrialcontrol.TbFanfaultrepo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="statusCode" jdbcType="VARCHAR" property="statusCode" />
    <result column="fk_fault_type" jdbcType="INTEGER" property="fkFaultType" />
    <result column="fk_fault_loc" jdbcType="INTEGER" property="fkFaultLoc" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param1_value" jdbcType="VARCHAR" property="param1Value" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
    <result column="param2_value" jdbcType="VARCHAR" property="param2Value" />
    <result column="param3" jdbcType="VARCHAR" property="param3" />
    <result column="param3_value" jdbcType="VARCHAR" property="param3Value" />
    <result column="fault_exp" jdbcType="VARCHAR" property="faultExp" />
    <result column="frequence" jdbcType="INTEGER" property="frequence" />
    <result column="repair_process" jdbcType="VARCHAR" property="repairProcess" />
    <result column="descb" jdbcType="VARCHAR" property="descb" />
  </resultMap>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fanfaultrepo
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="findList" resultMap="BaseResultMap">
    select * from fanfaultrepo
  </select>

  <insert id="insert" parameterType="com.zhansheng.framework.domain.UserManager.Industrialcontrol.TbFanfaultrepo">

    <selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
      select last_insert_id();
    </selectKey>

    insert into fanfaultrepo ( statusCode, fk_fault_type,fk_fault_loc,
      level, param1, param1_value, 
      param2, param2_value, param3, 
      param3_value, fault_exp, frequence, 
      repair_process, descb)
    values (#{statusCode,jdbcType=VARCHAR},
    #{fkFaultType,jdbcType=INTEGER},

    #{fkFaultLoc,jdbcType=INTEGER},
      #{level,jdbcType=INTEGER}, #{param1,jdbcType=VARCHAR}, #{param1Value,jdbcType=VARCHAR},
      #{param2,jdbcType=VARCHAR}, #{param2Value,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, 
      #{param3Value,jdbcType=VARCHAR}, #{faultExp,jdbcType=VARCHAR}, #{frequence,jdbcType=INTEGER}, 
      #{repairProcess,jdbcType=VARCHAR}, #{descb,jdbcType=VARCHAR})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.zhansheng.framework.domain.UserManager.Industrialcontrol.TbFanfaultrepo">
    update fanfaultrepo
    set statusCode = #{statusCode,jdbcType=VARCHAR},
      fk_fault_type = #{fkFaultType,jdbcType=INTEGER},
      fk_fault_loc = #{fkFaultLoc,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      param1 = #{param1,jdbcType=VARCHAR},
      param1_value = #{param1Value,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param2_value = #{param2Value,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR},
      param3_value = #{param3Value,jdbcType=VARCHAR},
      fault_exp = #{faultExp,jdbcType=VARCHAR},
      frequence = #{frequence,jdbcType=INTEGER},
      repair_process = #{repairProcess,jdbcType=VARCHAR},
      descb = #{descb,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>





</mapper>