<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhansheng.management_system.dao.TbRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.zhansheng.framework.domain.UserManager.TbRolePermission">
        <result column="F_Role_id" jdbcType="INTEGER" property="fRoleId"/>
        <result column="F_Power_id" jdbcType="INTEGER" property="fPowerId"/>
    </resultMap>

    <insert id="addRolePermission" >
        insert into tb_role_permission(F_Role_id, F_Permission_id) values
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{roleId},#{permissionId})
        </foreach>
    </insert>

    <delete id="deleteRolePermission" parameterType="java.lang.Integer">
        delete from tb_role_permission where F_Role_id = #{roleId}
    </delete>

</mapper>


