<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhansheng.management_system.dao.TbVoiceVideoMapper">

    <resultMap id="BaseResultMap" type="com.zhansheng.framework.domain.UserManager.Industrialcontrol.TbVoiceVideo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="fan_num" jdbcType="INTEGER" property="fannum"/>
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
        <result column="voiceName" jdbcType="VARCHAR" property="voiceName"/>
        <result column="voiceUrl" jdbcType="VARCHAR" property="voiceUrl"/>
        <result column="voiceState" jdbcType="INTEGER" property="voiceState"/>
        <result column="videoName" jdbcType="VARCHAR" property="videoName"/>
        <result column="videoUrl" jdbcType="VARCHAR" property="videoUrl"/>
        <result column="videoState" jdbcType="INTEGER" property="videoState"/>
        <result column="vibrationName" jdbcType="VARCHAR" property="vibrationName"/>
        <result column="vibration" jdbcType="VARCHAR" property="vibration"/>
        <result column="vibrationState" jdbcType="INTEGER" property="vibrationState"/>
    </resultMap>

    <!--通过风机号查询对应音频和视频历史文件最新10条数据-->
    <select id="findByFanNum" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            voiceVideo
        WHERE
            fan_num = #{fanNum}
        ORDER BY
	        date DESC
            LIMIT 10
    </select>


</mapper>