<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhansheng.management_system.AIdao.TbAImodelpreresultMapper">
  <resultMap id="BaseResultMap" type="com.zhansheng.framework.domain.aiManager.TbAImodelpreresult">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paramKey" jdbcType="VARCHAR" property="paramkey" />
    <result column="prob" jdbcType="DOUBLE" property="prob" />
    <result column="thresholdValue" jdbcType="DOUBLE" property="thresholdvalue" />
    <result column="result" jdbcType="INTEGER" property="result" />
  </resultMap>

  <select id="findList" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    ai_modelpreresult m
    WHERE
    1 = 1
    <if test="paramkey != null and paramkey != '' ">
     and m.paramKey = #{paramkey}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ai_modelpreresult
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhansheng.framework.domain.aiManager.TbAImodelpreresult">
    <selectKey keyProperty="id" keyColumn="id" resultType="INTEGER" order="AFTER">
      select last_insert_id();
    </selectKey>
    insert into ai_modelpreresult ( paramKey, prob,
      thresholdValue, result)
    values ( #{paramkey,jdbcType=VARCHAR}, #{prob,jdbcType=DOUBLE},
      #{thresholdvalue,jdbcType=DOUBLE}, #{result,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhansheng.framework.domain.aiManager.TbAImodelpreresult">
    update ai_modelpreresult
    <set>
      <if test="paramkey != null">
        paramKey = #{paramkey,jdbcType=VARCHAR},
      </if>
      <if test="prob != null">
        prob = #{prob,jdbcType=DOUBLE},
      </if>
      <if test="thresholdvalue != null">
        thresholdValue = #{thresholdvalue,jdbcType=DOUBLE},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhansheng.framework.domain.aiManager.TbAImodelpreresult">
    update ai_modelpreresult
    set paramKey = #{paramkey,jdbcType=VARCHAR},
      prob = #{prob,jdbcType=DOUBLE},
      thresholdValue = #{thresholdvalue,jdbcType=DOUBLE},
      result = #{result,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>