<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhansheng.management_system.AIdao.TbAImodelpreparamMapper">
  <resultMap id="BaseResultMap" type="com.zhansheng.framework.domain.aiManager.TbAImodelpreparam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paramKey" jdbcType="VARCHAR" property="paramkey" />
    <result column="fanNum" jdbcType="VARCHAR" property="fannum" />
    <result column="modelKey" jdbcType="VARCHAR" property="modelkey" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>

  <select id="findList" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    ai_modelpreparam m
    WHERE
    1 = 1
    <if test="paramkey != null and paramkey != '' ">
    and  m.paramKey = #{paramkey}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ai_modelpreparam
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhansheng.framework.domain.aiManager.TbAImodelpreparam">
    <selectKey keyProperty="id" keyColumn="id" resultType="INTEGER" order="AFTER">
      select last_insert_id();
    </selectKey>
    insert into ai_modelpreparam (paramKey, fanNum,
      modelKey, startTime, endTime
      )
    values ( #{paramkey,jdbcType=VARCHAR}, #{fannum,jdbcType=VARCHAR},
      #{modelkey,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhansheng.framework.domain.aiManager.TbAImodelpreparam">
    update ai_modelpreparam
    <set>
      <if test="paramkey != null">
        paramKey = #{paramkey,jdbcType=VARCHAR},
      </if>
      <if test="fannum != null">
        fanNum = #{fannum,jdbcType=VARCHAR},
      </if>
      <if test="modelkey != null">
        modelKey = #{modelkey,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhansheng.framework.domain.aiManager.TbAImodelpreparam">
    update ai_modelpreparam
    set paramKey = #{paramkey,jdbcType=VARCHAR},
      fanNum = #{fannum,jdbcType=VARCHAR},
      modelKey = #{modelkey,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>